body {
    font-family: 'Karma', serif;
    background: midnightblue;
}

.wrapper {
    margin: auto;
    max-width: 70%;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}


.subbut {
    background-color: midnightblue;
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 12%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.question {
    font-size: 22pt;
}

.container {
    display: block;
    position: relative;
    font-size: 16pt;
    padding-left: 2.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiobut {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: darkgray;
    border-radius: 50%;
}

.container:hover input~.radiobut {
    background-color: #ccc;
}

.container input:checked~.radiobut {
    background-color: midnightblue;
}